<div class="my-5"></div>
  <div class="row fondo">
    <div class="col-md-3">
      <h4>
        Nuevos Registro
      </h4>
      <form #registroForm="ngForm" (ngSubmit)="enviarRegistro(registroForm)">
          <div class="form-group">
              <input id="id" type="hidden" class="form-control" name="id" #nombre="ngModel"
                [(ngModel)]="usuarioService.seleccionarUsuario.id">
            </div>
        <div class="form-group">
          <input id="nombre" type="text" class="form-control" name="nombre" #nombre="ngModel"
            [(ngModel)]="usuarioService.seleccionarUsuario.nombre" placeholder="Nombre" required>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
            placeholder="Email" #email="ngModel" [(ngModel)]="usuarioService.seleccionarUsuario.email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp"
            #password="ngModel" [(ngModel)]="usuarioService.seleccionarUsuario.password" placeholder="Password"
            required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>

    </div>
    <div class="col-md-9">
        <h4>
            Usuarios Registrados
          </h4>
          <div class="row">
            <div *ngFor="let usuario of usuarioService.usuarios" class="col-md-6">
                <div class="card usuario">
                  <h5 class="card-header">{{usuario.nombre}}</h5>
                  <div class="card-body">
                    <h5 class="card-title">Correo: {{usuario.email}}</h5>
                    <p class="card-text">Password: {{usuario.password}}</p>
                    <div class="pt-3">
                        <a href="#" class="btn btn-primary" (click)="editarUsuario(usuario)">Actualizar</a>
                        <a href="#" class="btn btn-danger" (click)="eliminarUsuario(usuario.id, registroForm)">Eliminar</a>
                    </div>
                  </div>
                </div>
              <div class="col-md-1"></div>
            </div>
          </div>
          
    </div>
  </div>
